<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liang.example.androidtest">

    <application
        android:name=".ApplicationTest"
        android:allowBackup="true"
        android:icon="@drawable/music_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/music_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="n">

        <!-- Main -->
        <activity
            android:name=".MainActivity"
            android:label="@string/android_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- RecycleView -->
        <activity
            android:name="com.liang.example.recyclerviewtest.MainActivity"
            android:label="@string/recyclerview_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Fragment -->
        <activity
            android:name="com.liang.example.fragmenttest.MainActivity"
            android:label="@string/fragment_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.fragmenttest.bottombar.MainActivity"
            android:label="@string/fragment_test_bottombar"
            android:parentActivityName="com.liang.example.fragmenttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.fragmenttest.MainActivity" />
        </activity>  <!-- ViewPager -->
        <activity
            android:name="com.liang.example.fragmenttest.bottombar2.MainActivity"
            android:label="@string/fragment_test_bottombar2"
            android:parentActivityName="com.liang.example.fragmenttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.fragmenttest.MainActivity" />
        </activity>  <!-- Fragments -->

        <!-- Handler -->
        <activity
            android:name="com.liang.example.handlertest.MainActivity"
            android:label="@string/handler_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- HotFix -->
        <activity
            android:name="com.liang.example.hotfixtest.MainActivity"
            android:label="@string/hotfix_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Glide -->
        <activity
            android:name="com.liang.example.glidetest.MainActivity"
            android:label="@string/glide_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- RxJava -->
        <activity
            android:name="com.liang.example.rxjavatest.MainActivity"
            android:label="@string/rxjava_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Music -->
        <activity
            android:name="com.liang.example.musictest.MainActivity"
            android:label="@string/music_app"
            android:parentActivityName="com.liang.example.musictest.LoadActivity"
            android:theme="@style/MusicMainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.musictest.LoadActivity" />
        </activity>
        <activity
            android:name="com.liang.example.musictest.LoadActivity"
            android:label="@string/music_load"
            android:parentActivityName=".MainActivity"
            android:theme="@style/SplashTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.musictest.activity1.MainActivity"
            android:label="@string/music_first"
            android:parentActivityName="com.liang.example.musictest.MainActivity"
            android:theme="@style/MusicMainPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.musictest.MainActivity" />
        </activity>

        <!-- OkHttp -->
        <activity
            android:name="com.liang.example.okhttptest.MainActivity"
            android:label="@string/okhttp_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- LoopJ -->
        <activity
            android:name="com.liang.example.loopjtest.MainActivity"
            android:label="@string/loopj_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- ContentProvider -->
        <activity
            android:name="com.liang.example.contentprovidertest.MainActivity"
            android:label="@string/contentProvider_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Apt -->
        <activity
            android:name="com.liang.example.apttest.MainActivity"
            android:label="@string/apt_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.apttest.bind.MainActivity"
            android:label="@string/apt_base_test"
            android:parentActivityName="com.liang.example.apttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.apttest.MainActivity" />
        </activity>  <!-- bind -->
        <activity
            android:name="com.liang.example.apttest.route.MainActivity"
            android:label="@string/apt_route_test"
            android:parentActivityName="com.liang.example.apttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.apttest.MainActivity" />
        </activity>  <!-- route -->
        <activity
            android:name="com.liang.example.apttest.spi.MainActivity"
            android:label="@string/apt_spi_test"
            android:parentActivityName="com.liang.example.apttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.apttest.MainActivity" />
        </activity>  <!-- spi -->
        <activity
            android:name="com.liang.example.apttest.dagger2.MainActivity"
            android:label="@string/apt_dagger2_test"
            android:parentActivityName="com.liang.example.apttest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.apttest.MainActivity" />
        </activity>  <!-- dagger2 -->

        <!-- Gson -->
        <activity
            android:name="com.liang.example.gsontest.MainActivity"
            android:label="@string/gson_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Volley -->
        <activity
            android:name="com.liang.example.volleytest.MainActivity"
            android:label="@string/volley_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Shell -->
        <activity
            android:name="com.liang.example.shelltest.MainActivity"
            android:label="@string/shell_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- View -->
        <activity
            android:name="com.liang.example.viewtest.MainActivity"
            android:label="@string/view_test"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.viewtest.autofilltest.MainActivity"
            android:label="@string/view_autofill_test"
            android:parentActivityName="com.liang.example.viewtest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.viewtest.MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.viewtest.viewpager.MainActivity"
            android:label="@string/view_viewpager_test"
            android:parentActivityName="com.liang.example.viewtest.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liang.example.viewtest.MainActivity" />
        </activity>
        <activity
            android:name="com.liang.example.viewtest.surfaceview.MainActivity"
            android:label="@string/view_surfaceview_test" />
        <activity
            android:name="com.liang.example.viewtest.animation.MainActivity"
            android:label="@string/view_animation_test" />
        <activity
            android:name="com.liang.example.viewtest.animator.MainActivity"
            android:label="@string/view_animator_test" />

        <activity android:name="com.liang.example.jetpacktest.MainActivity" />
        <activity android:name="com.liang.example.jetpacktest.lifecycletest.FirstActivity" />
        <activity android:name="com.liang.example.jetpacktest.viewmodeltest.FirstActivity" />
        <activity android:name="com.liang.example.jetpacktest.livedatatest.FirstActivity" />
        <activity android:name="com.liang.example.jetpacktest.pagingtest.FirstActivity" />

        <activity android:name="com.liang.example.blocktest.MainActivity" />
        <activity android:name="com.liang.example.blocktest.MainActivity1" />
        <activity android:name="com.liang.example.blocktest.MainActivity2" />
        <activity android:name="com.liang.example.blocktest.MainActivity3" />
        <activity android:name="com.liang.example.blocktest.MainActivity4" />
        <activity android:name="com.liang.example.blocktest.MainActivity5" />
        <activity android:name="com.liang.example.blocktest.MainActivity6" />
        <activity android:name="com.liang.example.blocktest.MainActivity7" />
        <activity android:name="com.liang.example.viewtest_kt.temp.PagerPagerActivity" />
        <activity android:name="com.liang.example.viewtest_kt.chart.MainActivity" />

        <!-- Groovy <==> Java <==> Kotlin -->
        <activity
            android:name="com.liang.example.ktandroidtest.MainActivity"
            android:label="Kotlin Activity" />
        <activity
            android:name="com.liang.example.javaandroidtest.MainActivity"
            android:label="Java Activity" />
        <activity
            android:name="com.liang.example.groovyandroidtest.MainActivity"
            android:label="Groovy Activity" />
        <activity
            android:name="com.liang.example.xmlinflatertest.MainActivity"
            android:label="Xml Inflater" />
        <activity
            android:name="com.liang.example.xmlinflatertest.MainActivity2"
            android:label="Xml Inflater2" />

        <!-- Logger Configuration -->
        <meta-data
            android:name="logger_tag"
            android:value="AndroidTestTag" />
        <meta-data
            android:name="logger_level"
            android:value="DEBUG" />
        <meta-data
            android:name="logger_mask"
            android:value="5" />
        <meta-data
            android:name="android_logger_name"
            android:value="AndroidLogTag" />
        <meta-data
            android:name="system_logger_name"
            android:value="SystemLogTag" />
        <meta-data
            android:name="file_logger_name"
            android:value="FileLogTag" />

        <!-- Shell -->
        <service android:name="com.liang.example.shelltest.RemoteShellService" />

        <!-- Service -->
        <service android:name="com.liang.example.servicetest.ServiceTest" />
        <service android:name="com.liang.example.servicetest.IntentServiceTest" />
    </application>

    <!-- 用于硬盘缓存和读取 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 它可以监听用户的连接状态并在用户重新连接到网络时重启之前失败的请求 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
</manifest>
